:root {
  --primary: #1a8d8c;
  --primary-low: rgba(26, 141, 140, 0.3);
  --gray: #76797b;
  --gray-light: #dfe6e9;
  --white: #ffffff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

html {
  font-family: "Roboto", "sans-serif";
}

.page {
  display: flex;
  flex-direction: row;
}
